body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav {
    position: fixed;
    width: 100%;
    background-color: #707003;
    color:#ddd;
    padding: 10px 0;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    color:#f4f4f4;
    font-size: 18px;
}

nav ul li a:hover {
    color: #47ff47ef;
}

header, section {
    padding: 60px;
    height: 100vh;
}

header {
    background: #f4f4f4;
    display: flex;
    
    align-items: center;
    text-align: center;
}

section {
    background: #e2e2e2;
    display: flex;
    
    align-items: center;
    text-align: center;
    

}

#about { 
    
    background-image: url("https://images.pexels.com/photos/1151330/pexels-photo-1151330.jpeg?auto=compress&cs=tinysrgb&w=600");
background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    justify-content: right;
}
#services { 
    background-image: url("https://images.pexels.com/photos/5946083/pexels-photo-5946083.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
        background-repeat: no-repeat; 
        background-position: center;
        justify-content: left; 
    }
    #contact { 
    background-image: url("https://images.pexels.com/photos/1410138/pexels-photo-1410138.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
        background-repeat: no-repeat; 
        background-position: center;
        justify-content: center; 
     
}

.scrolled {
    background-color: #000 !important;
}
#home {
background-image: url("https://images.pexels.com/photos/1128678/pexels-photo-1128678.jpeg?auto=compress&cs=tinysrgb&w=600");
background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
  
    
}



